<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatappfcm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application


        android:allowBackup="true"
        android:icon="@drawable/iconfinder_twitter_313466"
        android:label="Arslan chatting App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MessageActivity"></activity>
        <activity android:name=".Activities.Viewpager.DashBoardActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.SPLASH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".Activities.Notify.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Activities.Notify.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>